name: Build Umepanux ISO

on:
  push:
  workflow_dispatch:

jobs:
  build-iso:
    runs-on: ubuntu-latest

    steps:
      - name: Gerekli paketler
        run: |
          sudo apt update
          sudo apt install -y \
            debootstrap \
            build-essential \
            bc bison flex \
            libssl-dev libelf-dev \
            ncurses-dev \
            wget \
            xorriso \
            grub-pc-bin \
            grub-efi-amd64-bin \
            mtools \
            squashfs-tools \
            cpio \
            initramfs-tools

      - name: Debian rootfs
        run: |
          sudo debootstrap --arch=amd64 stable rootfs http://deb.debian.org/debian

      - name: Kernel indir ve derle
        run: |
          wget https://cdn.kernel.org/pub/linux/kernel/v6.x/linux-6.6.tar.xz
          tar -xf linux-6.6.tar.xz
          cd linux-6.6

          cp /boot/config-$(uname -r) .config || make defconfig
          yes "" | make oldconfig
          sed -i 's/^EXTRAVERSION =.*/EXTRAVERSION = -umepanux/' Makefile

          make -j$(nproc)
          sudo make modules_install INSTALL_MOD_PATH=../rootfs
          sudo make INSTALL_PATH=../rootfs/boot install

      - name: Sistem kimligi ve root sifresiz
        run: |
          echo "umepanux" | sudo tee rootfs/etc/hostname

          cat << EOF | sudo tee rootfs/etc/os-release
ID=umepanux
NAME="Umepanux"
PRETTY_NAME="Umepanux 1.0 (Debian-based)"
VERSION="1.0"
VERSION_ID="1.0"
EOF

          # Root şifresini kaldır, şifresiz boot
          sudo chroot rootfs passwd -d root || true

      - name: initramfs
        run: |
          sudo chroot rootfs apt update
          sudo chroot rootfs apt install -y initramfs-tools
          sudo chroot rootfs update-initramfs -c -k all || true

      - name: ISO yapisi
        run: |
          mkdir -p iso/{boot/grub,live}
          sudo mksquashfs rootfs iso/live/filesystem.squashfs -e boot
          sudo cp rootfs/boot/vmlinuz-* iso/boot/vmlinuz
          sudo cp rootfs/boot/initrd.img-* iso/boot/initrd

          cat << EOF > iso/boot/grub/grub.cfg
set default=0
set timeout=3

menuentry "Umepanux Live" {
    linux /boot/vmlinuz boot=live username=root quiet
    initrd /boot/initrd
}
EOF

      - name: ISO olustur
        run: |
          xorriso -as mkisofs \
            -iso-level 3 \
            -o umepanux.iso \
            -full-iso9660-filenames \
            -volid "UMEPANUX" \
            -eltorito-boot boot/grub/i386-pc/eltorito.img \
            -no-emul-boot \
            -boot-load-size 4 \
            -boot-info-table \
            iso

      - name: ISO yukle
        uses: actions/upload-artifact@v4
        with:
          name: umepanux-iso
          path: umepanux.iso
